# Vagrant/bootstrapping files
.vagrant/
.updated-apt-get

# Ruby dependencies (via bundler)
vendor/

# Node dependencies (for releasing)
node_modules/

# Ignore binstubs from Bundler
bin/htmldiff
bin/ldiff
bin/rspec
bin/serverspec-init
